.banner {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 223px;
  margin: 40px auto 0;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  line-height: 1.1;
  z-index: 2;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

/* ======= TABLETTE ======= */
@media (max-width: 1024px) {
  .banner {
    height: 180px;
    width: calc(100% - 40px);
    border-radius: 20px;
    margin: 30px auto 0;
  }

  .banner-text {
    font-size: 28px;
    width: 80%;
  }
}

/* ======= MOBILE ======= */
@media (max-width: 768px) {
  .banner {
    height: 111px;
    width: calc(100% - 20px);
    border-radius: 10px;
    margin: 20px auto 0;
    justify-content: flex-start;
  }

  .banner-text {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
    width: 80%;
    line-height: 1.3;
  }
}