.home {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 60px;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.banner-image {
  filter: brightness(0.5);
}

/* ---- TABLETTE ---- */
@media (max-width: 1024px) {
  .home {
    padding: 0 20px;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    border-radius: 20px;
    padding: 40px 20px;
    margin-bottom: 40px;
  }
}

/* ---- MOBILE ---- */
@media (max-width: 768px) {
  .home {
    padding: 0 15px;
    gap: 30px;
  }

  .cards-container {
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: white;
    padding: 0;
    margin-bottom: 30px;
  }
}