.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 40px 0 30px;
  font-size: 14px;
  margin-top: auto;
}

.footer-logo {
  height: 80px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 20px;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .footer {
    padding: 50px 0 40px;
  }

  .footer-logo {
    height: 60px;
  }

  .footer p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0 30px;
  }

  .footer-logo {
    height: 40px;
  }

  .footer p {
    font-size: 12px;
  }
}