html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  flex-shrink: 0;
}