.header {
  max-width: 1240px;
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.header-logo {
  height: 68px;
}

.header-nav {
  display: flex;
  gap: 57px;
  font-size: 20px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}

.header-nav a.active::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* TABLETTE */
@media (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }

  .header-logo {
    height: 80px;
  }

  .header-nav {
    gap: 30px;
    font-size: 18px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 15px;
  }

  .header-logo {
    height: 40px;
  }

  .header-nav {
    gap: 15px;
  }

  .header-nav a {
    font-size: 12px;
  }

  .header-nav a.active::after {
    height: 1.5px;
    bottom: 1px;
  }
}