.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  box-sizing: border-box;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.arrow svg {
  width: 90px;
  height: 90px;
}

.counter {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

/* === TABLETTE === */
@media (max-width: 1024px) {
  .slideshow {
    height: 350px;
    border-radius: 20px;
  }

  .arrow.left {
    left: 15px;
  }

  .arrow.right {
    right: 15px;
  }

  .arrow svg {
    width: 70px;
    height: 70px;
  }

  .counter {
    font-size: 0.9rem;
    bottom: 12px;
    right: 15px;
  }
}

/* === MOBILE === */
@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    border-radius: 10px;
  }

  .arrow.left {
    left: 2px;
  }

  .arrow.right {
    right: 2px;
  }

  .arrow svg {
    width: 35px;
    height: 35px;
  }

  .counter {
    font-size: 0.8rem;
    bottom: 8px;
    right: 10px;
  }
}