.about-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.collapses-container {
  max-width: 1023px;
  width: 100%;
  margin: 30px auto 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

/* TABLETTE */
@media (max-width: 1024px) {
  .collapses-container {
    width: calc(100% - 40px);
    margin: 25px auto 40px;
    gap: 25px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .about-page {
    overflow-y: hidden;
  }

  .collapses-container {
    width: calc(100% - 20px);
    margin: 20px auto 30px;
    gap: 20px;
  }
}